# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Linux
*.swp
*.swo

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations compiladas
*.pyc
